<%- include('../partials/header') %> <% posts.forEach(function(p) { %>
<div class="container">
  <span class="user-display">
    <img
    class="user-image"
    alt="avatar"
    src="<%= p.userAvatar %>"
    referrerpolicy="no-referrer"
    />
    <%= p.userName %>
    <span class="instrument">
      | Instrument(s) <%= p.instrument %> 
    </span>
  </span>
  <div class="user-comment">
    <%= p.postComment %>
    <button type="button" class="button-mine link">
      <a href="<%= p.link %>" target="_blank">Listen to the music!</a>
    </button>
  </div>
  <% if (user?._id.equals(p.user)) { %>
  <section class="edit-delete">
    <button type="button" class="button-mine">
      <a href="/musics/<%= p._id %>/edit">Edit</a>
    </button>
    <form action="/musics/<%= p._id %>?_method=DELETE" method="POST">
      <button type="submit" class="button-mine">Delete</button>
    </form>
  </section>
  <% } %>

  <button type="button" class="button-mine">
    <a href="/musics/<%= p._id %>">Comments</a>
  </button>
</div>
<% }); %> <%- include('../partials/footer') %>
