<%- include('../partials/header') %> 


<% posts.forEach(function(p) { %>
    <div>
        <% if (user?._id.equals(p.user)) { %>
        <a href="/musics/<%= p._id %>/edit">Edit</a>
        <form action="/musics/<%= p._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
        </form>        
        <% } %>
        <div class="container text-center">
            <div class="row">
              <div class="col-sm-8">
                  <img class="user-image" alt="avatar" src="<%= p.userAvatar %>" referrerpolicy="no-referrer">
                  <%= p.userName %>
                </div>
                <div class="col-sm-4">
                    <a href="<%= p.link %>" target="_blank">link</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Instrument(s) <%= p.instrument %>
                </div>
                <div class="col-sm">
                    <%= p.postComment %>
                </div>
                <div class="col-sm">
                    <a href="/musics/<%= p._id %>">Comments</a>
                </div>
            </div>         
          </div>
    </div>
        <% }); %>

<%- include('../partials/footer') %> 

