<%- include('../partials/header') %> 

<% if (user) { %>
<a href="/musics/new">Make a new post!</a>
<% } %>

<% posts.forEach(function(p) { %>
    <div>
        <a href="<%= p.link %>" target="_blank">link</a>
        <%= p.instrument %>
        <%= p.comment %>
        <a href="/musics/<%= p._id %>">Comments</a>
    </div>
        <% }); %>

<%- include('../partials/footer') %> 

