<%- include('../partials/header') %> 
<div>
    <a href="<%= post.link %>" target="_blank">Link</a><br>
    <%= post.comment %>
    <%= post.instrument  %><br>
    <% if (post.review.length) %>
    <% post.review.forEach(function(r) { %>
        <img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer">
        <%= r.userName %>:
        |
       <%= r.content %>
    <% }); %>
    <% if (user) { %>
        <form action="/musics/<%= post._id %>/reviews" method="POST">
            <label for="reviews">Leave a comment</label>
            <input type="text" name="content">
            <input type="submit" value="Add Comment">
        </form>
    <% } else { %>
        You must be logged in to leave a comment!
    <% } %>

</div>

<%- include('../partials/footer') %> 

