<%- include('../partials/header') %> 

<div class="container">
<form action="/comments/<%= comment._id %>?_method=PUT" method="POST">
    <label class="user-comment" for="comments">Edit a comment</label>
    <input type="text" name="content" value="<%= comment.content %>">
    <input class="button-mine" type="submit" value="Edit Comment">
</form>

<form action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
    <button class="button-mine" type="submit">Delete</button>
</form>

</div>

<%- include('../partials/footer') %> 

